.bao .header {
    background-color: white;
    position: relative;
    margin-top: 65px;
}

.bao nav {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.a {
    width: 150px;
}

.bao .nav li a:hover {
    background-color: lightskyblue;
    font-weight: bold;
}

.bao .header img {
    width: 100%;
    height: 500px;
}

.bao>article {
    line-height: 40px;
}

.bao aside {
    float: left;
}

.a2 {
    width: 140px;
    height: 150px;
}

p {
    text-align: justify;
}

.n {
    width: 28px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}