.bao .header {
    background-color: white;
    position: relative;
    margin-top: 65px;
}

.bao nav {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.a {
    width: 150px;
}

.bao .nav li a:hover {
    background-color: lightskyblue;
    font-weight: bold;
}

.bao .header img {
    width: 100%;
    height: 500px;
}

.bao aside {
    float: left;
}

.a2 {
    width: 140px;
    height: 150px;
}

p {
    text-align: justify;
}

.n {
    width: 28px;
}