.bao .header {
    background-color: white;
    position: relative;
    margin-top: 65px;
}

.bao nav {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.a {
    width: 150px;
}

.bao .nav li a:hover {
    background-color: lightskyblue;
    font-weight: bold;
}

.bao .header img {
    width: 100%;
    height: 500px;
}

.bao>article {
    line-height: 40px;
}

.bao aside {
    float: left;
}

.a2 {
    width: 140px;
    height: 150px;
}

p {
    text-align: justify;
}

.n {
    width: 28px;
}

.contact-form {
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

article {
    background-color: lightgray;
}

.p {
    text-align: center;
}